---
name: _build

on:
  workflow_call:
    inputs:
      node_version:
        description: The Node.js version.
        type: string
        required: false
        default: '18'
    outputs:
      artifact_name:
        description: The artifact name.
        value: build-${{ github.sha }}

jobs:
  build:
    name: Package
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node_version: ${{ inputs.node_version }}
      - name: Build
        run: npm run build
      - name: Package
        run: npm pack
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-${{ github.sha }}
          if-no-files-found: error
          path: '*.tgz'
